@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p>ASP/NET MVC Architecture CRUD</p>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2> @Html.ActionLink("users", "Index", "users")</h2>
        <p> CRUD MVC Operations</p>
    </div>
    <div class="col-md-4">
        <h2> @Html.ActionLink("menus", "Index", "menus")</h2>
        <p> CRUD MVC Operations</p>
    </div>
    <div class="col-md-4">
        <h2> @Html.ActionLink("orderdetails", "Index", "orderdetails")</h2>
        <p> CRUD MVC Operations</p>
    </div>
    <div class="col-md-4">
        <h2> @Html.ActionLink("pemesanans", "Index", "pemesanans")</h2>
        <p> CRUD MVC Operations</p>
    </div>
</div>